@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif, Arial, Helvetica;
}

body {
    background-color: #e8e7e7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(158 158 158 / 86%);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px;
    transition: 1s;
    animation: slideFromRight 2s ease-in-out .3s;
    z-index: 5;
}

.top {
    background: transparent;
}

.main-header {
    color: #0c103a;
    cursor: pointer;
}

.main-header span {
    color: #362a9c;
}

.navbar {
    box-shadow: 2px 4px 6px 6px rgb(0 0 0 / 9%);
    border-radius: 0 20px;
}

.navbar li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.navbar li a {
    text-decoration: none;
    color: #0c103a;
}

.navbar li:hover {
    background-color: #180c4c;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.navbar li:hover a {
    color: #fff;
}

#menu-bar,
.menu-wrapper {
    display: none;
}

.modal-wrapper {
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0%;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
}

.modal {
    animation: fadeIn 1s ease-in-out;
}

.modal-form {
   background-color: #f0f0f0;
   padding: 15px;
   border-radius: 4px;
}

.modal-form div {
    margin-bottom: 20px;
}

.modal-form .form-title {
    margin-bottom: 16px;
    text-align: center;
}

.modal-form div > input, textarea {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: box-shadow .3s ease-in-out;
}

.modal-form input:focus,
textarea:focus {
    box-shadow: 1px 2px 5px 5px rgba(40, 88, 221, 0.144);
}

.modal-form textarea {
    resize: none;
}

.modal-form button {
    padding: 10px;
    border: none;
    background-color: #180c4c;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}

.modal-form button:hover {
    cursor: pointer;
    transform: scale(.98);
}

.portfolio {
    margin-top: 145px;
    animation: fadeIn 3s ease-in-out;
    transition: all 2s ease-in;
}

.portfolio,
.services,
.skills,
.projects {
    margin-bottom: 100px;
}

.portfolio-wrapper {
    color: #0c103a;
    display: flex;
    flex-direction: column;
}

.profile-wrapper {
    padding: 20px 30px;
    margin: 0 30px 40px;
    border-radius: 10px;
    text-align: center;
    animation: slideFromLeft 2.5s ease;
}

.profile > p {
    margin-bottom: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center
}

.profile p,
.services-item p {
    color: #110835;
}

.profile-image {
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
}

.profile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.services-items, 
.skills-items,
.projects-items {
    margin: 0 30px 40px;
}

.services-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.services-item {
    padding: 50px 30px;
    border-radius: 0 30px;
    box-shadow: 2px 4px 6px 6px rgb(0 0 0 / 9%);
    text-align: center;
    transform: scale(0);
    opacity: 0;
    transition: all .7s ease-in-out;
}

.services-item.show {
    transform: scale(1);
    opacity: 1;
}

.services-item:hover {
    cursor: pointer;
    transform: scale(.98);
}

.services-item > i {
    margin-bottom: 20px;
    font-size: 50px;
}

.services > p,
.skills li {
    margin-bottom: 15px;
}

.services > h3 {
    text-align: center;
    margin-bottom: 20px;
}

.services-title,
.skills-title,
.projects-title {
    margin-bottom: 40px;
    text-align: center;
}

.services-title > h3,
.skills-title > h3,
.projects-title > h3 {
    padding-bottom: 10px;
    font-size: 36px;
}

.services-title > div,
.skills-title > div,
.projects-title > div {
    height: 2px;
    width: 7%;
    margin: auto;
    text-align: center;
    background-color: blue;
}

.skills-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.skills-item {
    padding: 50px 30px;
    border-radius: 30px 0;
    text-align: center;
    box-shadow: 2px 4px 6px 6px rgb(0 0 0 / 9%);
    transform: scale(0);
    opacity: 0;
    transition: all .75s ease-in-out;
}

.skills-item.show {
    transform: scale(1);
    opacity: 1;
}

.skills-item:hover {
    cursor: pointer;
    transform: scale(.98);
}


.skills-item > p {
    margin-bottom: 20px;
    font-size: 25px;
}

.skills-item i {
    font-size: 100px;
}

.skills-item .fa-html5 {
    color: #ea2020;
}

.skills-item .fa-css3 {
    color: #3939e0;
}

.skills-item .fa-js {
    color: yellow;
}

.skills-item .fa-github {
    color: black;
}

.contact {
    margin-top: 20px;
}

.contact p {
    margin-bottom: 15px;
}

.contact button {
    margin-top: 13px;
    padding: 15px 25px;
    background-image: linear-gradient( 45deg, #1f16c1,71%, #ef0833);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0 23px;
    box-shadow: 2px 4px 6px 6px rgba(0, 0, 0, .18);
}

.contact button:hover {
    transform: scale(.98);
    cursor: pointer;
}

.fa-check {
    margin-right: 10px;
}

.projects-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.project-item {
    border-radius: 23px;
    box-shadow: 2px 4px 6px 6px rgb(0 0 0 / 9%);
    position: relative;
    opacity: 0;
    transform: scale(0);
    transition: all .9s ease-in-out;
}

.project-item.show {
    opacity: 1;
    transform: scale(1);
}

.project-item > div:first-child {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 10;
}

.project-item:hover {
    cursor: pointer;
}

.project-item img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.project-name {
    text-align: center;
    padding: 20px 0;
    background-image: linear-gradient(45deg, #1f16c1,71%, #ef0833);
}

 .project-name a {
    color: #fff;
}

footer {
    background-color: #969696;
    color: #0c103a;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0px;
}

.socials .fa {
    color: #fff;
    font-size: 20px;
}

.socials li {
    display: inline-block;
    margin-right: 10px;
    padding: 13px 16px; 
    background-image: linear-gradient(45deg, #1b166f, #ef0833);
    border-radius: 50%;
    transition: all .8s ease-in-out;
}

.socials div {
    margin-bottom: 10px;
}

.socials li:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #0a092e7e, #0d42ee);
}

.socials p {
    margin-bottom: 15px;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .main-header {
        margin-bottom: 10px;
    }

    .services-items {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .skills-items, 
    .projects-items {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:500px) {
    header {
        display: flex;
        align-items: center;
    }

    .main-header h1 {
        font-size: 25px;
    }

    .navbar {
        display: none;
    }

    #menu-bar {
        display: block;
        padding: 5px 8px;
        cursor: pointer;
        background-color: #180c4c;
        border-radius: 4px;
        border: none;
    }

    #menu-bar .fa {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }

    .menu-wrapper {
        display: block;
    }

    .services {
        margin-bottom: 20px;
    }

    .services-items,
    .skills-items,
    .projects-items {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}


